# HDSC Fall 2022 Internship :- Machine Learning Regression: Predicting Energy Efficiency of Buildings.

In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("energydata_complete.csv")

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

## Question 12

In [5]:
sub = df[["T2", "T6"]]

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
model = LinearRegression()

In [9]:
from sklearn.model_selection import train_test_split

In [16]:
X = sub[["T2"]]

y = sub.drop(["T2"], axis=1)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [18]:
model.fit(X_train, y_train)

LinearRegression()

In [19]:
from sklearn.metrics import r2_score

In [20]:
round(r2_score(y_test, model.predict(X_test)), 2)

0.65

## Question 13

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
df.drop(["date", "lights"], axis=1, inplace=True)

In [29]:
scaler = MinMaxScaler()

In [30]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [31]:
X = normalised_df.drop(['Appliances'], axis=1)

y = normalised_df["Appliances"]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3)

In [33]:
model.fit(X_train, y_train)

LinearRegression()

In [34]:
pred = model.predict(X_test)

In [36]:
from sklearn.metrics import mean_squared_error as mae

In [37]:
mae_ = mae(y_test, pred)

In [38]:
round(mae_, 2)

0.01

## Question 14

In [39]:
import numpy as np

In [40]:
rss = np.sum(np.square(y_test - pred))

In [41]:
round(rss, 2)

45.35

## Question 15

In [42]:
from sklearn.metrics import mean_squared_error as mse

In [43]:
rmse = np.sqrt(mse(y_test, pred))

In [45]:
round(rmse, 3)

0.088

## Question 16

In [50]:
cod = np.corrcoef(y_test, pred)

cod

array([[1.        , 0.38622248],
       [0.38622248, 1.        ]])

## Question 17

In [51]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

In [54]:
weight_df = get_weights_df(model, X_train, 'Linear_Model_Weight')

In [55]:
weight_df

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [57]:
weight_df.sort_values('Linear_Model_Weight')

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

## Question 18

In [58]:
from sklearn.linear_model import Ridge

In [59]:
rdg_mod = Ridge(alpha=0.4)

In [60]:
rdg_mod.fit(X_train, y_train)

Ridge(alpha=0.4)

In [61]:
rdg_pred = rdg_mod.predict(X_test)

In [62]:
rdg_mse = mse(y_test, rdg_pred)

In [63]:
rdg_rmse = np.sqrt(rdg_mse)

In [64]:
round(rdg_rmse, 3)

0.088

## Question 19

In [65]:
from sklearn.linear_model import Lasso

In [66]:
lasso = Lasso(alpha=0.001)

In [68]:
lasso.fit(X_train, y_train)

Lasso(alpha=0.001)

In [69]:
lasso_weights_df = get_weights_df(lasso, X_train, 'Lasso_weight')

In [72]:
lasso_weights_df.head()

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
2          T1      0.000000
3   Tdewpoint      0.000000
4  Visibility      0.000000

In [74]:
(lasso_weights_df['Lasso_weight']!=0).sum()

4

## Question 20

In [75]:
las_pred = lasso.predict(X_test)

In [76]:
las_rmse = np.sqrt(mse(y_test, las_pred))

In [77]:
round(las_rmse, 3)

0.094